<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="true">

  
  <!--配置web应用初始化参数-->
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/mybatis</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.yuan.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>getname</servlet-name>
    <servlet-class>com.yuan.servlet.GetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getname</servlet-name>
    <url-pattern>/getname</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>gp</servlet-name>
    <servlet-class>com.yuan.servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gp</servlet-name>
    <url-pattern>/gp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sd2</servlet-name>
    <servlet-class>com.yuan.servlet.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sd2</servlet-name>
    <url-pattern>/sd2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>prop</servlet-name>
    <servlet-class>com.yuan.servlet.PropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prop</servlet-name>
    <url-pattern>/prop</url-pattern>
  </servlet-mapping>

</web-app>