<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="true">

  <servlet>
    <servlet-name>filedown</servlet-name>
    <servlet-class>com.yuan.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filedown</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>image</servlet-name>
    <servlet-class>com.yuan.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/i</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>req</servlet-name>
    <servlet-class>com.yuan.servlet.RequestTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>req</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

</web-app>
